@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #00df9a;
  right: 0;
  bottom: -10px;
  color: #00df9a;
}
